$icomoon-font-family: "StrawberryIcon-pro" !default;
$icomoon-font-path: "fonts" !default;

$czs-about: "\e900";
$czs-about-l: "\e901";
$czs-add: "\e902";
$czs-airplane: "\e903";
$czs-airplane-l: "\e904";
$czs-alipay: "\e905";
$czs-analysis: "\e906";
$czs-android: "\e907";
$czs-angle-down-l: "\e908";
$czs-angle-left-l: "\e909";
$czs-angle-right-l: "\e90a";
$czs-angle-up-l: "\e90b";
$czs-apple: "\e90c";
$czs-arrow-down-l: "\e90d";
$czs-arrow-up-l: "\e90e";
$czs-baiduwangpan: "\e90f";
$czs-bar-chart: "\e910";
$czs-bar-chart-l: "\e911";
$czs-battery: "\e912";
$czs-battery-l: "\e913";
$czs-bell: "\e914";
$czs-bell-l: "\e915";
$czs-bevel: "\e916";
$czs-bilibili: "\e917";
$czs-bitcoin: "\e918";
$czs-blackboard: "\e919";
$czs-blackboard-l: "\e91a";
$czs-block: "\e91b";
$czs-block-l: "\e91c";
$czs-bluetooth: "\e91d";
$czs-bluetooth-l: "\e91e";
$czs-board: "\e91f";
$czs-board-l: "\e920";
$czs-book: "\e921";
$czs-book-l: "\e922";
$czs-bookmark: "\e923";
$czs-bookmark-l: "\e924";
$czs-books: "\e925";
$czs-books-l: "\e926";
$czs-bot: "\e927";
$czs-bot-l: "\e928";
$czs-box: "\e929";
$czs-box-l: "\e92a";
$czs-briefcase: "\e92b";
$czs-briefcase-l: "\e92c";
$czs-brush: "\e92d";
$czs-brush-l: "\e92e";
$czs-bug: "\e92f";
$czs-bug-l: "\e930";
$czs-building: "\e931";
$czs-building-l: "\e932";
$czs-buy: "\e933";
$czs-buy-l: "\e934";
$czs-calculator: "\e935";
$czs-calculator-l: "\e936";
$czs-calendar: "\e937";
$czs-calendar-l: "\e938";
$czs-camber: "\e939";
$czs-camber-l: "\e93a";
$czs-camber-o: "\e93b";
$czs-camera: "\e93c";
$czs-camera-l: "\e93d";
$czs-car: "\e93e";
$czs-car-l: "\e93f";
$czs-category-l: "\e940";
$czs-certificate: "\e941";
$czs-certificate-l: "\e942";
$czs-chemistry: "\e943";
$czs-chemistry-l: "\e944";
$czs-choose-list-l: "\e945";
$czs-chrome: "\e946";
$czs-circle: "\e947";
$czs-circle-l: "\e948";
$czs-circle-o: "\e949";
$czs-clip-l: "\e94a";
$czs-clock: "\e94b";
$czs-clock-l: "\e94c";
$czs-close-l: "\e94d";
$czs-clothes: "\e94e";
$czs-clothes-l: "\e94f";
$czs-cloud: "\e950";
$czs-cloud-download-l: "\e951";
$czs-cloud-l: "\e952";
$czs-cloud-upload-l: "\e953";
$czs-code-branch: "\e954";
$czs-code-file: "\e955";
$czs-code-file-l: "\e956";
$czs-code-fork: "\e957";
$czs-code-l: "\e958";
$czs-coin: "\e959";
$czs-coin-l: "\e95a";
$czs-collection: "\e95b";
$czs-come-l: "\e95c";
$czs-command: "\e95d";
$czs-command-l: "\e95e";
$czs-commed2: "\e95f";
$czs-commed2-l: "\e960";
$czs-comment: "\e961";
$czs-comment-l: "\e962";
$czs-computer: "\e963";
$czs-computer-l: "\e964";
$czs-configuration: "\e965";
$czs-configuration-l: "\e966";
$czs-container: "\e967";
$czs-container-l: "\e968";
$czs-control: "\e969";
$czs-control-rank: "\e96a";
$czs-credit-card: "\e96b";
$czs-credit-card-l: "\e96c";
$czs-crown: "\e96d";
$czs-crown-l: "\e96e";
$czs-css3: "\e96f";
$czs-cube: "\e970";
$czs-cube-l: "\e971";
$czs-cup: "\e972";
$czs-cup-l: "\e973";
$czs-dashboard: "\e974";
$czs-dashboard-l: "\e975";
$czs-database: "\e976";
$czs-database-l: "\e977";
$czs-dev-board: "\e978";
$czs-dev-board-l: "\e979";
$czs-d-glasses: "\e97a";
$czs-diamond: "\e97b";
$czs-diamond-l: "\e97c";
$czs-doc-edit: "\e97d";
$czs-doc-edit-l: "\e97e";
$czs-doc-file: "\e97f";
$czs-doc-file-l: "\e980";
$czs-download-l: "\e981";
$czs-dribbble: "\e982";
$czs-dropbox: "\e983";
$czs-earth: "\e984";
$czs-earth-l: "\e985";
$czs-education: "\e986";
$czs-education-l: "\e987";
$czs-eye: "\e988";
$czs-eye-l: "\e989";
$czs-face: "\e98a";
$czs-facebook: "\e98b";
$czs-face-l: "\e98c";
$czs-file: "\e98d";
$czs-file-l: "\e98e";
$czs-film: "\e98f";
$czs-film-l: "\e990";
$czs-fingerprint: "\e991";
$czs-fingerprint-l: "\e992";
$czs-fire-l: "\e993";
$czs-firewall: "\e994";
$czs-firewall-l: "\e995";
$czs-folder: "\e996";
$czs-folder-l: "\e997";
$czs-forum: "\e998";
$czs-forum-l: "\e999";
$czs-game: "\e99a";
$czs-game-l: "\e99b";
$czs-gene: "\e99c";
$czs-gift: "\e99d";
$czs-gift-l: "\e99e";
$czs-github: "\e99f";
$czs-github-logo: "\e9a0";
$czs-Google: "\e9a1";
$czs-greatwall: "\e9a2";
$czs-hacker: "\e9a3";
$czs-hacker-l: "\e9a4";
$czs-hammer: "\e9a5";
$czs-hammer-l: "\e9a6";
$czs-hand-bevel: "\e9a7";
$czs-hand-button: "\e9a8";
$czs-hande-vertical: "\e9a9";
$czs-hand-gather: "\e9aa";
$czs-hand-grasp: "\e9ab";
$czs-hand-horizontal: "\e9ac";
$czs-hand-pointer: "\e9ad";
$czs-hand-slide: "\e9ae";
$czs-hand-stop: "\e9af";
$czs-hand-touch: "\e9b0";
$czs-hdmi: "\e9b1";
$czs-hdmi-l: "\e9b2";
$czs-headset: "\e9b3";
$czs-headset-l: "\e9b4";
$czs-heart: "\e9b5";
$czs-heart-l: "\e9b6";
$czs-home: "\e9b7";
$czs-home-l: "\e9b8";
$czs-html5: "\e9b9";
$czs-image: "\e9ba";
$czs-image-l: "\e9bb";
$czs-inbox: "\e9bc";
$czs-inbox-l: "\e9bd";
$czs-Instagram: "\e9be";
$czs-key: "\e9bf";
$czs-keyboard: "\e9c0";
$czs-keyboard-l: "\e9c1";
$czs-key-l: "\e9c2";
$czs-label-info: "\e9c3";
$czs-label-info-l: "\e9c4";
$czs-laptop: "\e9c5";
$czs-laptop-l: "\e9c6";
$czs-layers: "\e9c7";
$czs-layout-grid: "\e9c8";
$czs-layout-grids: "\e9c9";
$czs-layout-list: "\e9ca";
$czs-light: "\e9cb";
$czs-light-flash-l: "\e9cc";
$czs-light-l: "\e9cd";
$czs-lightning: "\e9ce";
$czs-lightning-l: "\e9cf";
$czs-link-l: "\e9d0";
$czs-linux: "\e9d1";
$czs-list-clipboard: "\e9d2";
$czs-list-clipboard-l: "\e9d3";
$czs-location: "\e9d4";
$czs-location-l: "\e9d5";
$czs-lock: "\e9d6";
$czs-lock-l: "\e9d7";
$czs-map: "\e9d8";
$czs-map-l: "\e9d9";
$czs-medal: "\e9da";
$czs-medal-l: "\e9db";
$czs-menu-l: "\e9dc";
$czs-message: "\e9dd";
$czs-message-l: "\e9de";
$czs-microchip: "\e9df";
$czs-microchip-l: "\e9e0";
$czs-microphone: "\e9e1";
$czs-microphone-l: "\e9e2";
$czs-microsoft: "\e9e3";
$czs-mobile: "\e9e4";
$czs-mobile-l: "\e9e5";
$czs-moments: "\e9e6";
$czs-money: "\e9e7";
$czs-moon: "\e9e8";
$czs-moon-l: "\e9e9";
$czs-more: "\e9ea";
$czs-mouse: "\e9eb";
$czs-mouse-l: "\e9ec";
$czs-music: "\e9ed";
$czs-music-file: "\e9ee";
$czs-music-file-l: "\e9ef";
$czs-music-l: "\e9f0";
$czs-music-note: "\e9f1";
$czs-music-note-l: "\e9f2";
$czs-nail: "\e9f3";
$czs-nail-l: "\e9f4";
$czs-nas: "\e9f5";
$czs-nas-l: "\e9f6";
$czs-network: "\e9f7";
$czs-network-l: "\e9f8";
$czs-new: "\e9f9";
$czs-new-l: "\e9fa";
$czs-newspaper: "\e9fb";
$czs-newspaper-l: "\e9fc";
$czs-operation: "\e9fd";
$czs-operation-l: "\e9fe";
$czs-out-l: "\e9ff";
$czs-pad: "\ea00";
$czs-pad-l: "\ea01";
$czs-paper: "\ea02";
$czs-paper-l: "\ea03";
$czs-paper-plane: "\ea04";
$czs-paper-plane-l: "\ea05";
$czs-pause-l: "\ea06";
$czs-paypal: "\ea07";
$czs-pen: "\ea08";
$czs-pen-write: "\ea09";
$czs-people: "\ea0a";
$czs-phone: "\ea0b";
$czs-phone-l: "\ea0c";
$czs-pinterest: "\ea0d";
$czs-pixel: "\ea0e";
$czs-platform: "\ea0f";
$czs-platform-l: "\ea10";
$czs-play-l: "\ea11";
$czs-plugin: "\ea12";
$czs-pokemon-ball: "\ea13";
$czs-port: "\ea14";
$czs-port-l: "\ea15";
$czs-printer: "\ea16";
$czs-printer-l: "\ea17";
$czs-product: "\ea18";
$czs-program: "\ea19";
$czs-program-framework: "\ea1a";
$czs-program-l: "\ea1b";
$czs-prototype: "\ea1c";
$czs-prototype-l: "\ea1d";
$czs-prototype-select: "\ea1e";
$czs-prototype-select-l: "\ea1f";
$czs-qq: "\ea20";
$czs-qrcode-l: "\ea21";
$czs-quadrotor: "\ea22";
$czs-quote-left: "\ea23";
$czs-quote-right: "\ea24";
$czs-qzone: "\ea25";
$czs-raspberry: "\ea26";
$czs-raspberry-l: "\ea27";
$czs-read: "\ea28";
$czs-read-l: "\ea29";
$czs-red-envelope: "\ea2a";
$czs-renew: "\ea2b";
$czs-right-clipboard: "\ea2c";
$czs-right-clipboard-l: "\ea2d";
$czs-robot: "\ea2e";
$czs-robot2: "\ea2f";
$czs-robot2-l: "\ea30";
$czs-robot-l: "\ea31";
$czs-rocket: "\ea32";
$czs-rocket-l: "\ea33";
$czs-rollerbrush: "\ea34";
$czs-rollerbrush-l: "\ea35";
$czs-router: "\ea36";
$czs-router-l: "\ea37";
$czs-rss: "\ea38";
$czs-ruler: "\ea39";
$czs-ruler-l: "\ea3a";
$czs-save: "\ea3b";
$czs-save-l: "\ea3c";
$czs-scan-l: "\ea3d";
$czs-scissors: "\ea3e";
$czs-sdcard: "\ea3f";
$czs-sdcard-l: "\ea40";
$czs-search-l: "\ea41";
$czs-server: "\ea42";
$czs-server-l: "\ea43";
$czs-servers: "\ea44";
$czs-setting: "\ea45";
$czs-setting-l: "\ea46";
$czs-share: "\ea47";
$czs-shield: "\ea48";
$czs-shield-l: "\ea49";
$czs-shop: "\ea4a";
$czs-shop-l: "\ea4b";
$czs-shopping-cart: "\ea4c";
$czs-shopping-cart-l: "\ea4d";
$czs-site-folder: "\ea4e";
$czs-site-folder-l: "\ea4f";
$czs-slider-l: "\ea50";
$czs-square: "\ea51";
$czs-square-l: "\ea52";
$czs-square-o: "\ea53";
$czs-star: "\ea54";
$czs-star-l: "\ea55";
$czs-steam: "\ea56";
$czs-storage: "\ea57";
$czs-storage-l: "\ea58";
$czs-sun: "\ea59";
$czs-sun-l: "\ea5a";
$czs-sword: "\ea5b";
$czs-sword-l: "\ea5c";
$czs-tab: "\ea5d";
$czs-tab-l: "\ea5e";
$czs-tag: "\ea5f";
$czs-tag-l: "\ea60";
$czs-taiji: "\ea61";
$czs-talk: "\ea62";
$czs-talk-l: "\ea63";
$czs-taobao: "\ea64";
$czs-t-brian: "\ea65";
$czs-telegram: "\ea66";
$czs-text-l: "\ea67";
$czs-thumbs-up: "\ea68";
$czs-thumbs-up-l: "\ea69";
$czs-ticket: "\ea6a";
$czs-ticket-l: "\ea6b";
$czs-time: "\ea6c";
$czs-time-l: "\ea6d";
$czs-tmall: "\ea6e";
$czs-transmission-l: "\ea6f";
$czs-transport: "\ea70";
$czs-trash: "\ea71";
$czs-trash-l: "\ea72";
$czs-triangle: "\ea73";
$czs-triangle-l: "\ea74";
$czs-triangle-o: "\ea75";
$czs-trophy: "\ea76";
$czs-trophy-l: "\ea77";
$czs-truck: "\ea78";
$czs-truck-l: "\ea79";
$czs-tv: "\ea7a";
$czs-tv-l: "\ea7b";
$czs-twitter: "\ea7c";
$czs-upload-l: "\ea7d";
$czs-usb: "\ea7e";
$czs-usb-l: "\ea7f";
$czs-user: "\ea80";
$czs-user-l: "\ea81";
$czs-v2ex: "\ea82";
$czs-vector-design: "\ea83";
$czs-video-camera: "\ea84";
$czs-video-camera-l: "\ea85";
$czs-video-file: "\ea86";
$czs-video-file-l: "\ea87";
$czs-vimeo: "\ea88";
$czs-virtual: "\ea89";
$czs-virtual-l: "\ea8a";
$czs-volume: "\ea8b";
$czs-volume-l: "\ea8c";
$czs-volume-x-l: "\ea8d";
$czs-wallet: "\ea8e";
$czs-wallet-l: "\ea8f";
$czs-warning: "\ea90";
$czs-warning-l: "\ea91";
$czs-watch: "\ea92";
$czs-watch-l: "\ea93";
$czs-webcam: "\ea94";
$czs-webcam-l: "\ea95";
$czs-web-edit: "\ea96";
$czs-web-edit-l: "\ea97";
$czs-weibo: "\ea98";
$czs-weixin: "\ea99";
$czs-weixinzhifu: "\ea9a";
$czs-wifi: "\ea9b";
$czs-wordpress: "\ea9c";
$czs-wrench: "\ea9d";
$czs-wrench-l: "\ea9e";
$czs-write-l: "\ea9f";
$czs-x-buy-l: "\eaa0";
$czs-youtube: "\eaa1";
$czs-zhihu: "\eaa2";
$czs-zip-folder: "\eaa3";
$czs-zip-folder-l: "\eaa4";

